.CTA{
    background-color: hsl(12, 88%, 59%);
}
.container-CTA{
    max-width: 1440px;
    margin: 0 auto;
}
.cta-wrapper{
    margin: 0 80px;
    padding: 90px 0;
    /* height: 250px; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-left{
    flex: 1;
}
.cta-left span{
    font-size: 45px;
    font-weight: 600;
    color: hsl(0, 0%, 98%);

}
.cta-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


@media(max-width: 900px) {
    .cta-wrapper{
        margin: 0 20px;
    }
}


@media(max-width: 820px) {
    .cta-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 30px;
        padding: 70px 0;
    }
}